.tw-size-swapper {
  &__first_container {
    display: block;
  }
  &__second_container {
    display: none;
  }
}

.tw-size-swapper[min-width~='768px'] {
  .tw-size-swapper__first_container {
    display: none;
  }
  .tw-size-swapper__second_container {
    display: block;
  }
}
