.tw-tile {
  position: relative;
  border: 1px solid var(--color-border-neutral);
  border-radius: 3px;

  &--large {
    width: 340px;
  }

  &--small {
    width: 180px;

    > .tw-tile__media {
      margin-bottom: var(--size-12);
    }

    > .tw-tile__link {
      margin-bottom: var(--size-4);
    }

    > .tw-tile__content {
      font-size: 14px;
    }
  }

  &__media {
    width: 100%;
    margin-bottom: var(--size-16);
  }

  &__link {
    margin-bottom: var(--size-12);

    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &:hover,
  &:focus-within {
    border: 1px solid var(--color-border-focus);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  }

  & + .tw-tile {
    margin-left: 24px;
  }
}
